
<div class="jumbotron">
	<div class="flex flex-between title-page">
		<span>Employyes</span>
		<button (click)="popUp = true;mainService.user = {}">Add new</button>
	</div>
	
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Birthdate</th>
        <th>Gender</th>
        <th>Available</th>
        <th>Salary</th>
        <th>TAX %</th>
        <th>Total $</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of mainService.Employee">
        <td>{{user.id}}</td>
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.birthdate}}</td>
        <td>{{user.gender}}</td>
        <td><i class="fas fa-plus" [ngClass]="{'fa-plus':user.available,'fa-minus':!user.available}"></i></td>
        <td>{{user.salary}}</td>
        <td>{{user.tax | percent }}</td>
        <td>{{user.salary*user.tax}}</td>
        <td>
        	<a class="btn-a" (click)="setEdit(user.id)">Edit</a> |
        	<a class="btn-a" (click)="delete(user.id)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  
<div class="container flex flex-center"  *ngIf="popUp">
	<div class="container modal-form">
		<div class="title-form">
	  		<p >{{mainService.user.id?mainService.user.firstname+' '+mainService.user.lastname:'New Employee'}}</p>
	  		<i class="far fa-window-close" style="font-size: 25px;" (click)="popUp = false"></i>
	  	</div>

		<div class="row container-form">
			<form #modalForm="ngForm">
				<div class="row" *ngIf="mainService.user.id">
					<label  class="form-label">ID</label>
					<input type="text" readonly [value]="mainService.user.id">
				</div>
				<div class="row">
					<label  class="form-label">First name</label>
					<input type="text" #firstname="ngModel" [ngClass]="{'error-b':firstname.invalid  && formInValid}"  [(ngModel)]="mainService.user.firstname" name="firstname" required>
				</div>
				<div class="row">
					<label class="form-label">Last name</label>
					<input type="text" #lastname="ngModel" [ngClass]="{'error-b':lastname.invalid  && formInValid}" name="lastname" [(ngModel)]="mainService.user.lastname" required>
				</div>
				<div class="row">
					<label class="form-label">Birthdate</label>
					<input type="date" #birthdate="ngModel" [ngClass]="{'error-b':birthdate.invalid  && formInValid}"  name="birthdate" [(ngModel)]="mainService.user.birthdate" required>
				</div>
				<div class="row">
					<label class="form-label" >Gender</label>
					<span [ngClass]="{'error-c':male.invalid  && formInValid}" style="padding-right: 10px">Male </span> <input type="radio" name="male" value="male" #male="ngModel"  [(ngModel)]="mainService.user.gender" required>
					<span [ngClass]="{'error-c': female.invalid  && formInValid}" style="padding-left: 10px;padding-right: 10px">Female </span> <input type="radio" name="female" value="female" #female="ngModel" [(ngModel)]="mainService.user.gender" required>
				</div>
				<div class="row">
					<label class="form-label">Available</label>
					<input type="checkbox" #available="ngModel"  [(ngModel)]="mainService.user.available" name="available" required>{{available.invalid  && formInValid?'required':''}}
				</div>
				<div class="row">
					<label class="form-label">Salary $</label>
					<input type="number" name="salary" [(ngModel)]="mainService.user.salary" min="0">
				</div>
				<div class="row">
					<label class="form-label">Tax %</label>
					<input type="number" [value]="mainService.user.tax * 100" requireInput [conditionRequired]="mainService.user.salary > 0" (validate)="validateTax = $event" name="tax"   (input)="mainService.user.tax = $event.target.value / 100" min="0" max="100">
				</div>
				<div class="row">
					<label class="form-label">Total</label>
					<span>{{mainService.user.tax*mainService.user.salary}}</span>
				</div>
				<div class="row">
					<button (click)="saveObj(modalForm)">Save</button> 
					<a class="cancel" (click)="popUp = false">Cancel</a>
				</div>
			</form>
		</div>
</div>
</div>
